<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>thymeleaf页面中引入css、js静态资源</title>

    <!-- 自定义css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" />

    <!-- jquery组件引用 -->
    <script th:src="@{/common/jquery/jquery-3.3.1.min.js}"></script>

</head>
<body>
    <div class="test">
        在浏览器的 Console 窗口中使用 $.fn.jquery 命令查看当前 jQuery 使用的版本,结果如下:
        <img th:src="@{/images/index.png}" th:width="300px"/>
    </div>
</body>
</html>